<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Categorias</h2>
      <a class="btn btn-primary" href="/admin/categories/new">Criar nova categoria</a>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category => { %>
            <tr>
              <th><%= category.id %></th>
              <th><%= category.title %></th>
              <th><%= category.slug %></th>
              <th>
                <!-- <form action="/admin/categories/edit/<%= category.id %>" method="POST" style="display: inline" onsubmit="e => editar(e.target.value)">
                  <button class="btn btn-warning">Editar</button>
                </form> -->
                <!-- <a href="/admin/categories/edit/<%= category.id %>">Editar</a> -->
                <button class="btn btn-warning" onclick=`editar(${<%= category.id %>})`>Editar</button>
                
                <form action="/categories/delete" method="post" style="display: inline" onSubmit="confirmarDelecao(event, this)">
                  <input type="hidden" name="id" value="<%= category.id %>">
                  <button class="btn btn-danger">Deletar</button>
                </form>
              </th>
            </tr>
          <% }); %> 
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

  function editar(id){
    console.log(id)
    document.location.href = `/admin/categories/edit/${id}`;
  }

  function confirmarDelecao(event, form){
    event.preventDefault();

    const confirmar = confirm("Deseja deletar esta categoria?");

    if(confirmar){
      form.submit()
    }
  }

</script>

<%- include("../../partials/footer.ejs") %>